/* TODO add css to manage spots? */
.all-user-spots {
    display: flex;
    flex-wrap: wrap;
}

.all-user-spots img {
    width: 20rem;
    height: 15rem;
    padding: 20px;
}

/* .each-spot {
    display: flex;
} */

.update-delete {
    display: flex;
}
