/* TODO add css to delete spot */
.delete-modal-container {
    padding: 10px;
}

.delete-modal-header {
    text-align: center;
}

.delete-modal-buttons-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.delete-modal-buttons-container button {
    font-size: large;
    padding: 5px;
}

.cancel-delete-button {
    margin-right: 5px;
}

.cancel-delete-button button {
    border-radius: 10px;
    width: 8vw;
    border: 1px solid blue;
    color: blue;
    background-color: white;
}

.cancel-delete-button button:hover {
    color: white;
    background-color: blue;
}

.confirm-delete-button button {
    border-radius: 10px;
    width: 8vw;
    border: 1px solid red;
    color: red;
    background-color: white;
}

.confirm-delete-button button:hover {
    color: white;
    background-color: red;
}
