.entire-update-form-container {
    padding: 10px;
}

.update-form-header {
    text-align: center;
}

.update-spot-form {
    display: flex;
    flex-direction: column;
}

.update-spot-form label {
    display: flex;
    flex-direction: column;
}

.update-city-state-container {
    border-bottom: solid 2px rgba(0, 0, 0, .8);
}

.update-city-state {
    display: flex;
    /* border: solid 1px red; */
    margin-bottom: 2%;
}

#update-comma-separator {
    margin: auto 5px;
    margin-bottom: 0px;
}

.update-description-input-container {
    border-bottom: solid 2px rgba(0, 0, 0, .8);
}

#update-description-text-area {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.update-name-input-container {
    border-bottom: solid 2px rgba(0, 0, 0, .8);
}

#update-name-input {
    margin-bottom: 2%;
}

.update-price-input-container {
    border-bottom: solid 2px rgba(0, 0, 0, .8);
}

#update-price-input {
    margin-bottom: 2%;
}

.update-spot-modal-submission-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.modal-cancel-update-spot-button button {
    width: 10vw;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid red;
    color: red;
    background-color: white;
}

.modal-cancel-update-spot-button button:hover {
    color: white;
    background-color: red;
}

.modal-update-spot-button button {
    width: 10vw;
    border-radius: 10px;
    border: 1px solid green;
    color: green;
    background-color: white;
}

.modal-update-spot-button button:hover {
    color: white;
    background-color: green;
}
