/* TODO add css to SpotShow */
.all-spots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.spot-image img{
    padding: 15px;
    width: 15rem;
    height: 10rem;
}

.city-state {
    padding: 5px;
    font-weight: bold;
}

.spot-rating {
    padding: 5px;
}

.spot-price {
    padding: 5px;
}
