.entire-create-spot-form-wrapper {
    margin: auto;
    max-width: 50%;
}

.create-spot-form-header {
    text-align: center;
}

.spot-form {
    display: flex;
    flex-direction: column;
}

.spot-form label {
    display: flex;
    flex-direction: column;
}

.city-state-container {
    border-bottom: solid 2px rgba(0, 0, 0, .8);
}

.city-state {
    display: flex;
    /* border: solid 1px red; */
    margin-bottom: 2%;
}

#comma-separator {
    margin: auto 5px;
    margin-bottom: 0px;
}

.description-input-container {
    border-bottom: solid 2px rgba(0, 0, 0, .8);
}

#description-text-area {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.name-input-container {
    border-bottom: solid 2px rgba(0, 0, 0, .8);
}

#name-input {
    margin-bottom: 2%;
}

.price-input-container {
    border-bottom: solid 2px rgba(0, 0, 0, .8);
}

#price-input {
    margin-bottom: 2%;
}

.image-input-container {
    border-bottom: solid 2px rgba(0, 0, 0, .8);
}

.image-input {
    display: flex;
    flex-direction: column;
}

.image-input input {
    margin: 1vh 0px;
}

.create-spot-form-submission-container {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.create-spot-form-cancel-link a {
    text-decoration: none;
}

.create-spot-form-cancel-button {
    width: 20vw;
    padding: 1px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: large;
    border: 1px solid red;
    color: red;
    background-color: white;
    text-align: center;
}

.create-spot-form-cancel-button:hover {
    color: white;
    background-color: red;
}

.create-spot-form-submit-button button {
    width: 20vw;
    border-radius: 10px;
    font-size: large;
    border: 1px solid green;
    color: green;
    background-color: white;
}

.create-spot-form-submit-button button:hover {
    color: white;
    background-color: green;
}
