/* TODO Add site wide styles */
/* body {
    background: linear-gradient(to right, #FFFFFF, #6BA0FF);
} */
button {
    cursor: pointer;
}

html body {
    margin: 0;
}

.errors {
    color: red;
}

.modal-body {
    overflow-y: auto;
}
