/* TODO add css to spot card */
.each-spot {
    /* flex: 1 0 21%; */
    /* padding-bottom: 5px; */
    /* border: solid red; */
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.all-spot-image img {
    padding: 5px;
    width: 98%;
    height: 15rem;
}

.all-spot-details {
    display: flex;
    justify-content: space-between;
}

.all-city-state {
    padding: 5px;
    font-weight: bold;
}

.all-spot-rating {
    padding: 5px;
}

.all-spot-price {
    padding: 5px;
}
