/* TODO add css to login */
/* body {
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    overflow: hidden;
} */

.login-form {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.login-label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #adadad;
    border-radius: 5px;
    /* background-color: grey;
    color: white; */
}

.login-submit {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    background-color: white;
    border: 1px solid green;
    color: green;
}

.login-submit:hover {
    background-color: green;
    color: white;
}

#modal-content {
    border-radius: 5px;
}

.demo-login {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    background-color: white;
    border: 1px solid blue;
    color: blue;
}

.demo-login:hover {
    background-color: blue;
    color: white;
}
